@{
    ViewBag.Title = "Мои грузы";
}
<div class="body-container">
    <div class="container">
        <h2 class="section-title">Мои грузы</h2>
        <table class="table table-hover" id="tb3">
            <thead>
                <tr class="names">
                    <th>Номер груза</th>
                    <th>Дата загрузки</th>
                    <th>Кузов</th>
                    <th>Откуда</th>
                    <th>Куда</th>
                    <th>Груз</th>
                    <th>Вес</th>
                    <th>Объем</th>
                    <th>Погрузка</th>
                    <th>Оплата</th>
                    <th>Размещено</th>
                    <th>Э. з.</th>
                    <th id="action"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>