@model CargoDispath.Models.ApplicationUser
@{
    ViewBag.Title = "Профиль";
}
<div class="body-container">
    <div class="round-rectangle info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title text-center">Профиль</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                    E-mail: @Model.UserName
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                   Имя: @Model.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-8  infoelement">
                    Фамилия: @Model.Surname
                </div>
            </div>
        </div>
    </div>
</div>

