<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ac8e23e9-32ae-4c26-a24e-ddf782f020b4/resourcegroups/CargoDispatch/providers/Microsoft.Web/sites/CargoDispath20170607110343</ResourceId>
    <ResourceGroup>CargoDispatch</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cargodispath20170607110343.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>cargodispath20170607110343.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CargoDispath20170607110343</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CargoDispath20170607110343</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UserConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CargoDispath.Models.ApplicationContext, CargoDispath" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CargoDispath.DAL.EF.CargoContext" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CargoDispath.DAL.EF.CargoContext, CargoDispath" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:2cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID=Vladislav;Password=Vlad2687;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:2cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID=Vladislav;Password=Vlad2687;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CargoDispath.DAL.EF.CargoContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CargoDispath.DAL.EF.CargoContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CargoDispath.DAL.EF.CargoContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CargoDispath.DAL.EF.CargoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DBConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:1cargoserver.database.windows.net,1433;Initial Catalog=CargoDb;Persist Security Info=False;User ID={vladislav};Password={Vlad2687};MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CargoDispath.DAL.EF.CargoContext" />
  </ItemGroup>
</Project>