
@{
    ViewBag.Title = "Подтверждение электронного адресса";
}
<div class="body-container">
    <div class="round-rectangle log">
        <div class="container">
            <div class="row">
                На указанный электронный адрес отправлены дальнейшие действия по завершению регистрации
            </div>
        </div>

    </div>
</div>
