
@{
    ViewBag.Title = "Подтверждение пароля";
}

<div class="body-container">
    <div class="round-rectangle log">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Проверьте электронную почту, чтобы сбросить пароль.
                </div>
            </div>
            </div>
        </div>
    </div>
