
@{
    ViewBag.Title = "Подтверждение сброса пароля";
}

<div class="body-container">
    <div class="round-rectangle log">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    Пароль был успешно изменен.<a href="/Account/Login">Войдите для завершения</a>
                </div>
            </div>
        </div>
    </div>
</div>
